body {
    margin: 0;      
    padding: 0;
}

.hero {
    background-image: url('./assets/cotton\ flowers.png ');
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    width: 100%;                   
    padding: 20px 0;              
    text-align: center;            
}



nav {
    display: flex;               
    justify-content: center;     
    gap: 30px;                  
}

nav a {
    display: block;           
    width: 150px;              
    margin: 10px auto;           
    border: 2px solid #E1ACAC;
    padding: 2px;
    text-decoration: none;
    color: #CA8787;
    text-align: center;         
    border-radius:10px;
    font-size: 30px
}

nav a:hover {
    background-color: #A87676; 
    color: white;              
}

.hero h1{
    color: #CA8787;
    text-align:center;
}
